#fundo{
    position: relative;
    width: 830px;
    height: auto;
    background-color: rgb(206, 82, 82);
    margin: auto;
 }
  
  
 #camada1{
    position: relative;
    width: 160px;
    height: 100px;
    background-color: rgb(19, 47, 139);
    text-align: center;
    float: left;
 }
  
 #camada2{
    position: relative;
    width: 640px;
    height: 100px;
    background-color: rgb(165, 18, 18);
    text-align: center;
    float: left;
 }
  
 #camada3{
    position: relative;
    width: 800px;
    height: 40px;
    background-color: rgb(33, 214, 27);
    text-align: center;
    clear: left;
 }
  
 #camada4{
    position: relative;
    width: 780px;
    height: 380px;
    background-color: gold;
    border: 10px solid red;
    text-align: center;
 }
  
 #camada5{
    position: relative;
    width: 800px;
    height: 50px;
    background-color: gray;
    text-align: center;
 }